{% extends 'base.html' %}
<title>{% block title %}用户中心{% endblock %}</title>
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8 col-md-offset-2 col-xs-12">
                <div class="panel panel-default sign-status">
                    <div class="panel-body">
                        <h1 class="text-center text-primary">{% if is_sign_today %}今日已打卡{% else %}今日暂未打卡
                        {% endif %}</h1>
                    </div>
                </div>
                <div class="panel panel-default control">
                    <div class="panel-heading">
                        快捷操作
                    </div>
                    <div class="panel-body">
                        <button id="cookieSign" class="btn btn-primary" onclick="cookieSign()">手动签到</button>
                        <button id="updateCookie" class="btn btn-primary" onclick="updateCookie()">更新cookie</button>
                    </div>
                </div>
                {% if not user.wxPushKey %}
                    <div class="alert alert-warning" role="alert">
                        <strong>Warning! </strong>
                        您当前暂未绑定微信，每日打卡结果不能及时接收，建议您开启消息推送功能
                        <a class="alert-link" onclick="getQrcode()">立即开启消息推送</a>
                    </div>
                {% endif %}
                <div class="panel panel-default notice">
                    <div class="panel-heading">使用须知</div>
                    <div class="panel-body">
                        <p>
                            <strong>平台介绍：</strong>
                        </p>
                        <p>
                            &nbsp;&nbsp;&nbsp;&nbsp;一个简易的易统计自动打卡平台
                        </p>
                        <p>
                            <b>如何打卡：</b>
                        </p>
                        <p>
                            <b>&nbsp; &nbsp;</b> 您在本平台登录后，后台会记录您的cookie信息(有效期是10天)，到每天0点1分，自动帮您打卡
                        </p>
                        <p>
                            <b>注意事项：</b>
                        </p>
                        <p>
                            &nbsp; &nbsp; 每隔10天，您必须登录一次本平台，<span></span><span
                                style="font-weight:bold;font-family:文泉驿等宽微米黑;">这是易统计的设定，一个</span><span
                                style="font-weight:bold;">cookie</span><span
                                style="font-weight:bold;font-family:文泉驿等宽微米黑;">有效期是</span><span
                                style="font-weight:bold;">10</span><span style="font-weight:bold;font-family:文泉驿等宽微米黑;">天，</span><span
                                style="font-weight:bold;">10</span><span style="font-weight:bold;font-family:文泉驿等宽微米黑;">天之后没有更新</span><span
                                style="font-weight:bold;">cookie</span><span
                                style="font-weight:bold;font-family:文泉驿等宽微米黑;">的话，将打卡失败</span>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default user-setting">
                    <div class="panel-heading">基本设置</div>
                    <div class="panel-body">
                        <p>电话号码：{{ user.tel }}</p>
                        <p>消息推送：{% if user.wxPushKey %}
                            已绑定 <a onclick="getQrcode()">再次绑定</a>
                        {% else %}
                            暂未绑定 <a onclick="getQrcode()">立即绑定</a>
                        {% endif %}</p>
                        <p>上次登录时间：{{ user.last_login|date:'Y-m-d H:i:s' }}</p>
                    </div>
                </div>
                <div class="panel panel-default cookie-status">
                    <div class="panel-heading">cookie有效时间剩余</div>
                    <div class="panel-body">
                        <div class="progress">
                            <div id="progress-bar" class="progress-bar progress-bar-success" role="progressbar"
                                 aria-valuenow="{{ percent }}"
                                 aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}">{{ percent }}
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        失效时间: {{ expire_time }}
                    </div>
                </div>
                <div class="panel panel-default sign-record">
                    <!-- Default panel contents -->
                    <div class="panel-heading">打卡记录</div>
                    <!-- Table -->
                    <table class="table">
                        <thead>
                        <tr>
                            <th>打卡时间</th>
                            <th>打卡状态</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for record in records %}
                            <tr>
                                <th scope="row">{{ record.sign_time }}</th>
                                <td>{{ record.sign_active }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block foot_script %}
    <div id="tip-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div id="tip" class="modal-body"></div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <script type="text/javascript">
        function updateCookie() {
            window.location.href = {% url 'login' %};
        }

        function cookieSign() {
            $("#cookieSign").text("正在签到...");
            $("#cookieSign").attr("disabled", "true");
            $.ajax({
                url: {% url 'cookieSign' %},
                type: 'GET',
                cache: false,
                success: function (data) {
                    $('#tip').text(data['msg']);
                    $('#tip-modal').modal('show');
                    $("#cookieSign").removeAttr("disabled");
                    $("#cookieSign").text("手动签到");
                },
                error: function (xhr) {
                    $('#tip').text('签到失败,服务器错误');
                    $('#tip-modal').modal('show');
                    $("#cookieSign").removeAttr("disabled");
                    $("#cookieSign").text("手动签到");
                }
            });
        }

        function getQrcode() {
            $.ajax({
                url: "{% url 'get_qrcode_for_user' %}",
                type: 'GET',
                cache: false,
                success: function (data) {
                    if (data['code'] === 1000) {
                        var qrcode_url = data['data']['url'];
                        $('#tip').append('<img src="' + qrcode_url + '" class="img-responsive img-thumbnail center-block">');
                        $('#tip').append('<div class="alert alert-success" role="alert">微信扫描上方二维码</div>\n');
                        $('#tip-modal').modal('show');
                    } else {
                        $('#tip').text('获取二维码失败，请稍后再试');
                        $('#tip-modal').modal('show');
                    }
                },
                error: function (xhr) {
                    $('#tip').text('服务器请求出错，请稍后再试');
                    $('#tip-modal').modal('show');
                }
            });
        }

        $(function changeProgressbar() {
            var percent = '{{ percent }}';
            var str = percent.replace("%", "");
            var defaultColor = 'progress-bar-success';
            var div = document.getElementById('progress-bar');
            str = str / 100;
            if (str >= 0 && str < 0.25) {
                div.classList.replace(defaultColor, 'progress-bar-danger');
            } else if (str >= 0.25 && str < 0.5) {
                div.classList.replace(defaultColor, 'progress-bar-warning');
            } else if (str >= 0.5 && str < 0.75) {
                div.classList.replace(defaultColor, 'progress-bar-info');
            }
        });

    </script>
{% endblock %}
